<!DOCTYPE html>

<title>Modifier le Profil</title>

{% block body %}
    <h1>Modifier le Profil</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}