{% extends 'admin/base.html.twig' %}

{% block title %}Modifier son profil{% endblock %}

{% block body %}
    <h1>Modifier son profil</h1>

    {{ include('admin/user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('user_index') }}">Retour sur votre Profil</a>
{% endblock %}
