<form method="post" action="{{ path('experience_delete', {'id': experience.id}) }}" onsubmit="return confirm('Etes-vous sûr de supprimer cette expérience?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ experience.id) }}">
    <button class="btn">Supprimer</button>
</form>
