<!DOCTYPE html>

<title>Nouvelle Expérience</title>

{% block body %}
    <h1>Ajouter une nouvelle expérience</h1>

    {{ include('admin/experience/_form.html.twig') }}

    <a href="{{ path('experience_index') }}">Retour à la liste des expériences</a>
{% endblock %}