form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

input {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

label {
    display:flex;
    justify-content: center;
}

.boutoncontact{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.blockFormulaire{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: -23%;
    margin-top: 5%;
    background-color: rgb(204, 179, 179);
}

.contact h1{
    display:flex;
    justify-content: center;
    font-size: 18px;
}